.q-btn {
  border-radius: 0 !important;
  border: var(--border) !important;
  box-shadow: var(--shadow) !important;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: box-shadow 0.1s, transform 0.1s !important;
  background: var(--accent) !important;
  color: var(--text-color-default) !important;

  &:before {
    box-shadow: none !important;
  }

  .q-focus-helper {
    display: none !important;
  }

  &:hover {
    box-shadow: var(--shadow-hover) !important;
    transform: translate(2px, 2px);
  }

  &:active {
    box-shadow: none !important;
    transform: translate(5px, 5px);
  }

  &[disabled] {
    opacity: 0.4 !important;
    background: var(--background-2) !important;
    box-shadow: none !important;
    transform: none !important;
  }

  &--flat {
    background: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
    &:hover {
      box-shadow: none !important;
      transform: none;
      border-color: var(--text-color-default) !important;
    }
  }

  &--round {
    border-radius: 0 !important;
  }
}
