@font-face {
  font-family: 'Archivo Narrow';
  src: url('@/styles/fonts/Archivo_Narrow/ArchivoNarrow-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Public Sans';
  src: url('@/styles/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Public Sans';
  src: url('@/styles/fonts/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

:root {
  --font-family-title: 'Archivo Narrow', sans-serif;
  --font-family-default: 'Public Sans', sans-serif;
}