.q-form {
  .q-field {
    padding-bottom: 20px;
  }
  .q-editor {
    margin-bottom: 20px;
  }
  > .row {
    margin-bottom: 0.5rem;
  }
  > .row + .q-checkbox {
    margin-top: -7px;
  }

  &__buttons {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    &--spaced {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
}