body {
  font-family: var(--font-family-default);
  font-size: 1rem;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 900;
  margin: 0 0 0.25em;
  line-height: 1;
  font-family: var(--font-family-title);
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.85rem; }
h6 { font-size: 0.75rem; }

strong {
  font-weight: 800;
}

a {
  color: var(--text-color-default);
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 700;

  &:hover {
    background: var(--accent);
    text-decoration: none;
  }
}

.nowrap {
  white-space: nowrap;
}